@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sora;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  overflow: hidden;
}

#ws-status {
  --s: 5px;
  position: absolute;
  top: var(--s);
  right: var(--s);
  width: var(--s);
  height: var(--s);
  background-color: red;
  border-radius: 1000px;
  z-index: 2;
}

#ws-status.open {
  background-color: lime;
}

#game-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#home-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.btn-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#home-screen .tile {
  width: 4rem;
  height: 4rem;
  margin: 5px;
  position: relative;
}

#home-screen .btn {
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  background-color: white;
  color: black;
}

#home-tiles {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

#next-player {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 2rem;
  height: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px white;
}

/* version */

#version {
  color: rgba(255, 255, 255, 0.5);
  font-size: x-large;
  width: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#player {
  color: rgba(255, 255, 255, 0.5);
  font-size: x-large;
  width: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

/* scoring */

#score-area {
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  max-height: 4rem;
  min-height: 4rem;
  font-size: xx-large;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#last-score {
  color: rgba(255, 255, 255, 0.5);
  width: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#score {
  font-size: 4rem;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#score-board {
  width: 100%;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

/* #other-player {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(229, 229, 229, 0.7);
  width: min(20rem, 100%);
  height: 3rem;
  font-size: x-large;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
  z-index: 1;
} */

/* board */

#board-wrapper {
  width: 100%;
  position: relative;
  overflow: auto;
  flex-grow: 1;
}

#board {
}

/* hand */

#hand {
  position: relative;
  min-width: 100%;
  min-height: 0px;
  background-color: rgba(255, 255, 255, 0.05);

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* btn-area */

#btn-area {
  width: 100%;
  height: 3rem;
  font-size: xx-large;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#btn-area > div {
  background-color: rgba(255, 255, 255, 0.1);
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#btn-area > div svg {
  max-width: 80%;
  max-height: 80%;
  transform: scale(100%);
  transition: all 0.2s ease-in-out;
}

#btn-area > div.disable svg {
  opacity: 0.1;
}

#btn-area > div:not(.disable):active {
  background-color: rgba(255, 255, 255, 0.2);
}

#btn-area > div:not(.disable):active svg {
  transform: scale(80%);
}

/* tile */

.tile {
  position: absolute;
  /* width: calc(4rem - 2px);
    height: calc(4rem - 2px); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 20, 20);
  font-weight: bold;
  font-size: 200%;
  /* transform: translate(-50%, -50%); */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  border-width: 1px;
  border-style: solid;
  /* border-color: rgb(10, 10, 10); */
  /* transform-origin: center; */
  /* box-shadow: rgba(55, 55, 55, 0.15) 1.95px 1.95px 2.6px; */
}

#hand .tile {
  position: relative;
}

.tile.next {
  animation-name: fadein;
  animation-duration: 1s;
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 1s;
  background-color: rgb(20, 20, 20);
  border-color: rgba(40, 40, 40, 1);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.tile.next:hover {
  background-color: rgb(40, 40, 40);
}

.tile.score svg {
  animation-name: score;
  animation-duration: 0.35s;
  -webkit-animation-name: score;
  -webkit-animation-duration: 0.35s;
  z-index: 1;
}

.tile.qwirkle svg {
  animation-name: qwirkle;
  animation-duration: 1s;
  animation-iteration-count: 1;
  -webkit-animation-name: qwirkle;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  z-index: 1;
}

.tile svg {
  width: 60%;
}

#hand .tile {
  transition: border-color 0.3s ease-in-out;
}

#hand .tile svg {
  width: 40%;
  transition: all 0.3s ease-in-out;
}

#hand .tile.selected.invalid svg {
  animation-name: invalid;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: invalid;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-iteration-count: infinite;
}

#hand .tile.selected svg {
  width: 80%;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes invalid {
  0%,
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  25% {
    transform: translate(10%, 0%) rotate(0deg);
  }
  75% {
    transform: translate(-10%, 0%) rotate(0deg);
  }
}

@keyframes score {
  0% {
    transform: scale(100%);
    /* rotate: 0deg; */
    /* scale: 100%; */
  }
  100% {
    transform: scale(100%);
    /* rotate: 360deg; */
    /* scale: 100%; */
  }
  50% {
    transform: scale(130%);
    /* rotate: 180deg; */
    /* scale: 130%; */
  }
}

/* @keyframes qwirkle {
  0% {
    transform: rotate(0deg) scale(100%);
  }
  50% {
    transform: rotate(180deg) scale(150%);
  }
  100% {
    transform: rotate(360deg) scale(100%);
  }
} */

@keyframes qwirkle {
  0% {
    transform: rotate(0deg) scale(100%);
  }
  10% {
    transform: rotate(108deg) scale(110%);
  }
  20% {
    transform: rotate(216deg) scale(120%);
  }
  30% {
    transform: rotate(324deg) scale(130%);
  }
  40% {
    transform: rotate(432deg) scale(140%);
  }
  50% {
    transform: rotate(540deg) scale(150%);
  }
  60% {
    transform: rotate(648deg) scale(140%);
  }
  70% {
    transform: rotate(756deg) scale(130%);
  }
  80% {
    transform: rotate(864deg) scale(120%);
  }
  90% {
    transform: rotate(972deg) scale(110%);
  }
  100% {
    transform: rotate(1080deg) scale(100%);
  }
}

/* dark mode */

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }

  #score-area {
    background-color: rgba(0, 0, 0, 0.1);
  }

  #player {
    color: rgba(0, 0, 0, 0.5);
  }

  #last-score {
    color: rgba(0, 0, 0, 0.5);
  }

  #hand {
    background-color: rgba(0, 0, 0, 0.05);
  }

  #btn-area > div {
    background-color: rgba(0, 0, 0, 0.1);
  }

  #btn-area > div:not(.disable):hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  #btn-area > div.disable {
    color: rgba(0, 0, 0, 0.2);
  }

  #btn-area > div svg {
    filter: invert();
  }

  .tile {
    background-color: rgb(235, 235, 235);
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
  }

  .tile.next {
    background-color: rgb(245, 245, 245);
    border-color: rgb(215, 215, 215);
  }

  .tile.next:hover {
    background-color: rgb(215, 215, 215);
    border-color: rgb(215, 215, 215);
  }

  .tile.selected {
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
  }

  #version {
    color: rgba(0, 0, 0, 0.5);
  }
}

@media only screen and (max-height: 900px) and (orientation: landscape) {
  body {
    flex-direction: row;
  }

  #hand {
    flex-direction: column;
    min-width: 0px;
    min-height: 100%;
  }

  #btn-area {
    height: 100%;
    width: 3rem;
    flex-direction: column-reverse;
  }

  #btn-area > div {
    width: 100%;
    overflow: hidden;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  #score-board {
    height: 100%;
  }
}

.display-none {
  display: none !important;
}
